# File hasil kompilasi Java
*.class
*.jar

# File project IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# File sistem
.DS_Store
Thumbs.db

# File log
*.log

# File sementara
*.tmp
*.swp
*~

# Folder dependencies
target/
build/
dependencies/